---
---
/****Mixins****/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
          box-sizing: $sizing;
}

@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
          backface-visibility: $visibility;
}

/**************/


/****Colors****/

$blue: #428bca;
$red: #E74C3C;
$dark-blue: #2C3E50;

.blue-text {
  color: $blue !important;
}

.blue-bg {
  background-color: $blue !important;
}

.red-text {
  color: $red !important;
}

.red-bg {
  background-color: $red !important;
}

.dark-text {
  color: $dark-blue !important;
}

.dark-bg {
  background-color: $dark-blue !important;
}

/**************/


/****Cards****/

.card {
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
}

.hover-card {
  position: relative;
  overflow: hidden;
  z-index: 1;

  .hover-overlay {
    position: absolute;
    top: calc(100% - 8px);
    @include transition(all 0.4s ease-in-out);
    left: -5px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
  }

  &:hover {
    .hover-overlay {
      opacity: 1;
      top: 0;
    }
  }

  .overlay-background {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .overlay-content {
    color: #fff;
    font-size: 12pt;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/*************/

/***General***/

body {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  font-weight: 400;
  color: $dark-blue;
  @include box-sizing(border-box);
  -webkit-font-smoothing: subpixel-antialiased;
  @include backface-visibility(hidden);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: $blue;
  @include transition(all 0.2s linear);
}

a:hover {
  color: $red;
}

.row {
  padding: 50px 0px;
  margin: 0;
}

.btn {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  @include transition(all 0.2s linear);
}

.btn:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.btn-lg {
  border-radius: 25px;
}

.btn-common {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 35px;
  margin-top: 0px;
}

.title::after {
	content: '';
	width: 100px;
	display: block;
	height: 1px;
	border-bottom: 4px solid $red;
	text-align: center;
	margin: 10px auto 0;
}

.content-section {
  text-align: center;
}

#songs,
#gallery {
  background: $dark-blue;
  color: #fff;
}

#news,
#about,
#contribute {
  background: #eee;
}


/*************/

/****Navbar***/

.navbar {
  margin-bottom: 0;
  color: #fff;

  li {
    color: #fff;
  }

}

.navbar-default {
  border: none;
  border-radius: 0;
  background: transparent;
  padding-top: 30px;
  @include transition(all 0.2s linear);

  .navbar-nav>.active>a,
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    background: none;
    color: #fff;
  }

  .navbar-nav li a,
  .navbar-nav li a:hover,
  .navbar-nav li a:focus {
    color: #fff;
  }

  .navbar-nav>.active,
  .navbar-nav li:hover,
  .navbar-nav li:focus {
    border-bottom: 3px solid $blue;
    color: #fff;
  }

  .navbar-brand {
    color: #fff;
    font-size: 24pt;
    @include transition(all 0.2s linear);
  }

  .faviconPng {
    height: 25pt;
    width: 25pt;
    vertical-align: sub;
    @include transition(all 0.2s linear);
  }

  .navbar-brand:hover {
    color: #eee;
  }

  .navbar-toggle {
    border: none;
  }

  .navbar-toggle .icon-bar {
    background: #fff;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background: rgba(0, 0, 0, 0.2);
  }
}



.affix.navbar-default {
  background: $dark-blue;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-top: 0;
  @include transition(all 0.2s linear);

  .navbar-brand {
    font-size: 16pt !important;
    color: #fff;
    @include transition(all 0.2s linear);
  }

  .navbar-brand .faviconPng {
    height: 16pt;
    width: 16pt;
    @include transition(all 0.2s linear);
  }
}


@media (max-width: 767px) {
  .navbar-default {
    background: $dark-blue;
    padding-top: 0px;

    .navbar-nav>.active,
    .navbar-nav li:hover,
    .navbar-nav li:focus {
      border-bottom: none;
      border-left: 4px solid $blue;
      font-weight: bold;
    }

    .navbar-brand {
      font-size: 16pt;
    }

    .faviconPng {
      height: 16pt;
      width: 16pt;
      vertical-align: text-bottom;
    }
  }
}


/*************/

/**Hero area**/

#hero-area {
  background: $dark-blue;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
  min-height: 95vh;
  background-image: url(../img/hero-bg.png);
  /*background-size: cover;*/
  background-position: bottom;
  background-repeat: no-repeat;
  /*background-blend-mode: soft-light;*/

  img {
    max-width: 100%;
    margin-top: 125px;
  }

  p {
    font-size: 14pt;
    font-weight: 100;
    padding: 25px 0;
  }

  .row {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .btn {
    margin-right: 20px;
  }

  .title {
    font-size: 60pt;
    text-align: left;
    margin-bottom: 5px;
  }

  .title::after {
    display: none;
  }

  .subtitle {
    font-size: 32pt;
    font-weight: 100;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}


@media (max-width: 991px) {
  #hero-area {
    img {
      display: none;
    }

    .row {
      padding-top: 75px;
      padding-bottom: 50px;
    }
  }
}

/**************/

/*****News*****/

#news {
  img {
    width: 100%;
  }

  h2, h3 {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .post-info {
    font-size: 12pt;
  }

  .more {
    margin: 24px 0 0 0;

    .btn {
      border: 1px solid $blue;
      color: $blue;
    }

    .btn:hover {
      background: transparent;
      color: $red;
      border: 1px solid $red;
    }
  }
}

@media (max-width: 767px) {
  #news .col-md-12 {
    padding: 0;
    margin-left: 0;
  }
}

.news-card {
  padding: 0;
  margin: 10px 0px;
  border: 1px solid $dark-blue;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}

.news-card-text {
  padding: 10px;
  color: #fff;

  a {
    color: #fff;
  }
}

/**************/
