<!-- Download Section -->
{% assign release_nightly = nil %}
{% assign release_pre = nil %}
{% assign release_stable = nil %}

{% for release in site.github.releases %}
  {% if release.tag_name == "Nightly" %}
    {% assign release_nightly = release %}
  {% elsif release.prerelease == true and (release_pre == nil or release.created_at > release_pre.created_at) %}
    {% assign release_pre = release %}
  {% elsif release.prerelease == false and (release_stable == nil or release.created_at > release_stable.created_at) %}
    {% assign release_stable = release %}
  {% endif %}
{% endfor %}

{% if release_pre != nil and release_stable != nil and release_stable.created_at > release_pre.created_at %}
  {% assign release_pre = nil %}
{% endif %}

<section id="{{ page.section-type }}" class="content-section">
  <div class="container">
    <div class="text-center">
      <h1 class="section-title">{{ page.title }}</h1>
      <h2>{{ page.subtitle }}</h2>
      <p>{{ page.content | markdownify }}</p>
    </div>

    <div class="row justify-content-around">
        <div id="nightly" class="col-sm-4">
          <div class="download-card d-flex flex-column text-center text-white bg-dark-blue">
            <h2>Nightly</h2>
            <p>A version with all the newest development changes. Likely to contain bugs, so use with caution.</p>
            {% if release_nightly != nil %}
              {% assign currentReleaseTitle = release_nightly.created_at | date: "%b %d, %Y" %}
              <div class="invisible animated card-overlay bg-dark-blue-darken">
                <span class="fa fa-times close-icon" aria-hidden="true"></span>
                <h4>{{currentReleaseTitle}}</h4>
                {% for asset in release_nightly.assets %}
                  {% assign currentReleaseData = asset.name | remove:".zip" | remove:".exe" | split:"_" %}
                  {% assign currentReleaseFileEnding = asset.name | split:"." | last %}
                  {% assign currentReleaseOs = currentReleaseData[2] %}
                  {% assign currentReleaseArch = currentReleaseData[3] %}
                  {% if currentReleaseOs == "Windows" and currentReleaseFileEnding == "zip" and currentReleaseArch == "x86" %}
                    {% assign winZip86 = asset.browser_download_url %}
                  {% elsif currentReleaseOs == "Windows" and currentReleaseFileEnding == "zip" and currentReleaseArch == "x64" %}
                    {% assign winZip64 = asset.browser_download_url %}
                  {% elsif currentReleaseOs == "Windows" and currentReleaseFileEnding == "exe" and currentReleaseArch == "x86" %}
                    {% assign winExe86 = asset.browser_download_url %}
                  {% elsif currentReleaseOs == "Windows" and currentReleaseFileEnding == "exe" and currentReleaseArch == "x64" %}
                    {% assign winExe64 = asset.browser_download_url %}
                  {% elsif currentReleaseOs == "Linux" and currentReleaseArch == "x86" %}
                    {% assign linux86 = asset.browser_download_url %}
                  {% elsif currentReleaseOs == "Linux" and currentReleaseArch == "x64" %}
                    {% assign linux64 = asset.browser_download_url %}
                  {% endif %}
                {% endfor %}

                {% if winZip86 or winZip64 %}
                  {% include downloadRow.html x86=winZip86 x64=winZip64 os="Windows" type="Portable" %}
                {% endif %}
                {% if winExe86 or winExe64 %}
                  {% include downloadRow.html x86=winExe86 x64=winExe64 os="Windows" type="Installer" %}
                {% endif %}
                {% if linux86 or linux64 %}
                  {% include downloadRow.html x86=linux86 x64=linux64 os="Linux" type="Linux" %}
                {% endif %}

              </div>
              <span class="mt-auto">
                <a class="btn btn-primary">
                  <span>{{currentReleaseTitle}}</span>
                </a>
                <p>{{ release_nightly.created_at | date: "%Y-%m-%d" }} | <a href="{{ release_nightly.html_url }}">GitHub</a></p>
              </span>
            {% else %}
              <span class="mt-auto">
                <p>There isn't any nightly release yet.</p>
              </span>
            {% endif %}
          </div>
        </div>

        <div id="prerelease" class="col-sm-4">
          <div class="download-card d-flex flex-column text-center text-white bg-red">
            <h2>Pre Release</h2>
            <p>Should be almost stable, but you might experience some bugs here.</p>
            {% if release_pre != nil %}
              {% assign currentReleaseTitle = release_pre.name %}
              <div class="invisible animated card-overlay bg-red-darken">
                <span class="fa fa-times close-icon" aria-hidden="true"></span>
                <h4>{{currentReleaseTitle}}</h4>
                {% for asset in release_pre.assets %}
                  {% assign currentReleaseData = asset.name | remove:".zip" | remove:".exe" | split:"_" %}
                  {% assign currentReleaseFileEnding = asset.name | split:"." | last %}
                  {% assign currentReleaseOs = currentReleaseData[2] %}
                  {% assign currentReleaseArch = currentReleaseData[3] %}
                  {% if currentReleaseOs == "Windows" and currentReleaseFileEnding == "zip" and currentReleaseArch == "x86" %}
                    {% assign winZip86 = asset.browser_download_url %}
                  {% elsif currentReleaseOs == "Windows" and currentReleaseFileEnding == "zip" and currentReleaseArch == "x64" %}
                    {% assign winZip64 = asset.browser_download_url %}
                  {% elsif currentReleaseOs == "Windows" and currentReleaseFileEnding == "exe" and currentReleaseArch == "x86" %}
                    {% assign winExe86 = asset.browser_download_url %}
                  {% elsif currentReleaseOs == "Windows" and currentReleaseFileEnding == "exe" and currentReleaseArch == "x64" %}
                    {% assign winExe64 = asset.browser_download_url %}
                  {% elsif currentReleaseOs == "Linux" and currentReleaseArch == "x86" %}
                    {% assign linux86 = asset.browser_download_url %}
                  {% elsif currentReleaseOs == "Linux" and currentReleaseArch == "x64" %}
                    {% assign linux64 = asset.browser_download_url %}
                  {% endif %}
                {% endfor %}

                {% if winZip86 or winZip64 %}
                  {% include downloadRow.html x86=winZip86 x64=winZip64 os="Windows" type="Portable" %}
                {% endif %}
                {% if winExe86 or winExe64 %}
                  {% include downloadRow.html x86=winExe86 x64=winExe64 os="Windows" type="Installer" %}
                {% endif %}
                {% if linux86 or linux64 %}
                  {% include downloadRow.html x86=linux86 x64=linux64 os="Linux" type="Linux" %}
                {% endif %}
              </div>
              <span class="mt-auto">
                <a class="btn btn-primary">
                  <span>{{currentReleaseTitle}}</span>
                </a>
                <p>{{ release_pre.created_at | date: "%Y-%m-%d" }} | <a href="{{ release_pre.html_url }}">GitHub</a></p>
              </span>
            {% else %}
              <span class="mt-auto">
                <p>There isn't any pre release yet.</p>
              </span>
            {% endif %}
          </div>
        </div>

        <div id="stable" class="col-sm-4">
          <div class="download-card d-flex flex-column text-center text-white bg-blue">
            <h2>Stable Release</h2>
            <p>The latest release.</p>
            {% if release_stable != nil %}
              {% assign currentReleaseTitle = 'Vocaluxe ' | append: release_stable.name %}
                <div class="invisible animated card-overlay bg-blue-darken">
                  <span class="fa fa-times close-icon" aria-hidden="true" role="button"></span>
                  <h4>{{currentReleaseTitle}}</h4>
                  {% for asset in release_stable.assets %}
                    {% assign currentReleaseData = asset.name | remove:".zip" | remove:".exe" | split:"_" %}
                    {% assign currentReleaseFileEnding = asset.name | split:"." | last %}
                    {% assign currentReleaseOs = currentReleaseData[2] %}
                    {% assign currentReleaseArch = currentReleaseData[3] %}
                    {% if currentReleaseOs == "Windows" and currentReleaseFileEnding == "zip" and currentReleaseArch == "x86" %}
                      {% assign winZip86 = asset.browser_download_url %}
                    {% elsif currentReleaseOs == "Windows" and currentReleaseFileEnding == "zip" and currentReleaseArch == "x64" %}
                      {% assign winZip64 = asset.browser_download_url %}
                    {% elsif currentReleaseOs == "Windows" and currentReleaseFileEnding == "exe" and currentReleaseArch == "x86" %}
                      {% assign winExe86 = asset.browser_download_url %}
                    {% elsif currentReleaseOs == "Windows" and currentReleaseFileEnding == "exe" and currentReleaseArch == "x64" %}
                      {% assign winExe64 = asset.browser_download_url %}
                    {% elsif currentReleaseOs == "Linux" and currentReleaseArch == "x86" %}
                      {% assign linux86 = asset.browser_download_url %}
                    {% elsif currentReleaseOs == "Linux" and currentReleaseArch == "x64" %}
                      {% assign linux64 = asset.browser_download_url %}
                    {% endif %}
                  {% endfor %}

                  {% if winZip86 or winZip64 %}
                    {% include downloadRow.html x86=winZip86 x64=winZip64 os="Windows" type="Portable" %}
                  {% endif %}
                  {% if winExe86 or winExe64 %}
                    {% include downloadRow.html x86=winExe86 x64=winExe64 os="Windows" type="Installer" %}
                  {% endif %}
                  {% if linux86 or linux64 %}
                    {% include downloadRow.html x86=linux86 x64=linux64 os="Linux" type="Linux" %}
                  {% endif %}
                </div>
              <span class="mt-auto">
                <a class="btn btn-primary mt-auto" role="button">
                  {{currentReleaseTitle}}
                </a>
                <p>{{ release_stable.created_at | date: "%Y-%m-%d" }} | <a href="{{ release_stable.html_url }}">GitHub</a></p>
              </span>
            {% else %}
            <span class="mt-auto">
              <p>There isn't any stable release yet.</p>
            </span>
          {% endif %}
          </div>
        </div>
      </div>
  </div>
</section>
<!-- Download Section End -->
