<!-- Hero Area Section -->

<section id="hero-area" class="bg-dark-blue">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto text-center text-white">
        <h1 class="mb-3">{{site.subtitle}}</h1>
        <p>{{site.description}}</p>
        <div class="mt-5">
          <a class="btn btn-primary mr-3" href="#download" role="button">Download Now!</a>
          <a class="btn btn-outline-primary" href="#about" role="button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero Area Section End-->
